.App {
  /* background-color: white; */
  background: url('/kanto.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white

}

.app-body {
  border: 3px solid black;
  padding: 10px;
  display: flex;
}

.title {
  /* margin: 0;
  padding: 0px; */
  flex-direction: row;
  justify-content: center;
}

.center-card {
  
  width: 60%;
  border: 1px solid blue;
  padding: 20px;
  flex: 2;
  margin-right: 20px;
}

.team-cards {
  align-self: last baseline;
  width: 30%;
  border: 1px solid blue;
  padding: 20px;
}

.pokemon-logo {
  align-self:flex-start
  max-width: 50px;
  padding-right: 0px;
}

.pokemon-card-image {
  max-width: 200px;
}
