.App {
  /* background-color: white; */
  background: url('/kanto.jpg');  
  z-index: 1;
  width: 100%;
  height: 100%;
  position:fixed;
  top: 0;
  left: 0;
  cursor: url('/master_ball.png'), auto;
  color: black;
}

.app-body {
  border: 3px solid black;
  padding: 10px;
  display: flex;
}

.title {
  /* margin: 0;
  padding: 0px; */
  flex-direction: row;
  justify-content: center;
}

.center-card {
  background-color: tan;
  color: black;
  opacity: 1;
  width: 60%;
  border: 1px solid blue;
  padding: 20px;
  flex: 2;
  margin-right: 20px;
}

.team-cards {
  background-color: tan;
  align-self: last baseline;
  width: 30%;
  border: 1px solid blue;
  padding: 20px;
}

.pokemon-logo {
  align-self:flex-start
  max-width: 50px;
  padding-right: 0px;
}

.pokemon-card-image {
  background-color: tan;
  max-width: 200px;
}

.abilities-card {
  background-color: tan;
  border: 1px solid red;
  padding: 20px;
}
